// Overriding the core colors
// $primary-color: #003049;
$primary-color: rgb(184, 38, 65);
// $secondary-color: #F77F00;
$secondary-color: #1A3EE3;

// Overriding gray colors
// $dark-color: #303742;
// $dark-color: #A7BCFE;
// $light-color: #EAE2B7;
// $light-color: #F2F7FB;
$gray-color: #A7BCFE;

// overriding control colors
$warning-color: #FCBF49;
$error-color: #D62828;

$unit-25: 5rem !default;

// Google Fonts
// Font Variables
@import url(http://fonts.googleapis.com/css?family=Nunito:400,800|Open+Sans:400italic,700italic,400,700);
$open-sans: 'Open Sans', sans-serif;
$base-font-family: 'Nunito', $open-sans;