// Overriding the core colors
$primary-color: #003049;
$secondary-color: #F77F00;

// Overriding gray colors
$dark-color: #303742;
$light-color: #EAE2B7;

// overriding control colors
$warning-color: #FCBF49;
$error-color: #D62828;

// Google Fonts
// Font Variables
@import url(http://fonts.googleapis.com/css?family=Nunito:400,800|Open+Sans:400italic,700italic,400,700);
$open-sans: 'Open Sans', sans-serif;
$base-font-family: 'Nunito', $open-sans;